.mainBlock {
  min-height: calc(100vh - 50px - 92px - 50px - 52px);
}

.main {
  width: 100%;
  display: flex;
}

.content {
  max-width: 870px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 50px;
  column-gap: 44px;
}

.loader {
  width: 60px;
  height: 60px;
  border: 7px solid #dadada;
  border-bottom-color: #7AC751;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 